body {
    font-family: Arial, sans-serif;
    background-color: #1d96a3;
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: lightblue;
}

h1 {
    color: #d716bb;
}
p {
    color:rgb(249, 254, 254); 
}